/********************
        DESKTOP
*********************/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "FuturaRegular";
  src: url("../fonts/38C9A1_0_0.eot"); /* IE9 Compat Modes */
  src: url("../fonts/38C9A1_0_0.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/38C9A1_0_0.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/38C9A1_0_0.woff") format("woff"),
    /* Pretty Modern Browsers */ url("../fonts/38C9A1_0_0.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/38C9A1_0_0.svg#filename")
      format("svg");
}

@font-face {
  font-family: "FuturaBold";
  src: url("../fonts/38C9A1_1_0.eot"); /* IE9 Compat Modes */
  src: url("../fonts/38C9A1_1_0.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/38C9A1_1_0.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/38C9A1_1_0.woff") format("woff"),
    /* Pretty Modern Browsers */ url("../fonts/38C9A1_1_0.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/38C9A1_1_0.svg#filename")
      format("svg");
}

@font-face {
  font-family: "FuturaBlack";
  src: url("../fonts/38C9A1_2_0.eot"); /* IE9 Compat Modes */
  src: url("../fonts/38C9A1_2_0.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/38C9A1_2_0.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/38C9A1_2_0.woff") format("woff"),
    /* Pretty Modern Browsers */ url("../fonts/38C9A1_2_0.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/38C9A1_2_0.svg#filename")
      format("svg");
}

/*****   HEADER AND MENU   *****/

header {
  max-width: 1100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
}

.logo {
  width: 30%;
  float: left;
}

.logo img {
  width: 95%;
}

.menu {
  width: 70%;
  float: left;
  margin-top: 55px;
}

.menu ul li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "FuturaRegular", sans-serif;
  font-weight: 300;
}

.menu ul li a {
  text-decoration: none;
  color: #787776;
  cursor: pointer;
}

.active {
  font-family: "FuturaBold", sans-serif;
  font-weight: 900;
  color: black !important;
}

.mobilenav {
  display: none;
}

.modal-title {
  font-family: "FuturaBold", sans-serif;
  font-weight: 900;
  color: black !important;
}

.modal-btn {
  font-family: "FuturaRegular", sans-serif;
  font-weight: 100;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  box-shadow: none;
  border-radius: 5px;
  padding: 10px 15px;
  background-color: #fff;
  margin: 25px auto 0px auto;
  display: block;
  color: #000;
}

.carousel-inner figcaption {
  padding-top: 15px;
}

/*****   BANNER AND MAIN BODY WRAPPER   *****/

.banner {
  float: none;
}

video {
  margin-top: -25px;
}

.wrapper-home {
  max-width: 1200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

.left-home {
  float: left;
  width: 67%;
}

.right-home {
  float: right;
  width: 25%;
}

.right-home img {
  width: 50%;
  display: block;
  margin: auto;
}

.wrapper {
  max-width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

.wrapper-clients {
  display: block;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  clear: both;
}

.wrapper-clients-mobile {
  display: none;
  clear: both;
}

.wrapper-charities {
  max-width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  clear: both;
}

.page-title {
  font-family: "FuturaBold", sans-serif;
  font-weight: 500;
  font-size: 47px;
  line-height: 1.8;
  clear: both;
}

.paragraph {
  font-family: "FuturaRegular", sans-serif;
  font-weight: 100;
  font-size: 15px;
  line-height: 1.375;
  clear: both;
}

.paragraph a {
  text-decoration: none;
  color: black;
  font-family: "FuturaRegular", sans-serif;
  font-weight: 100;
  font-size: 15px;
  line-height: 1.375;
}

.wrapper-link {
  padding-top: 30px;
  clear: both;
}

.wrapper-link a {
  text-decoration: none;
  color: #bababa;
  font-family: "FuturaRegular", sans-serif;
  font-weight: 800;
  font-size: 22px;
  line-height: 1.8;
  clear: both;
}

/*****   FOOTER   *****/

footer {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  position: relative;
  left: 0;
  bottom: 0;
  padding-bottom: 50px;
  height: 65px;
}

.footer-left {
  width: 60%;
  float: left;
  text-align: center;
  padding-top: 60px;
}

.footer-right {
  width: 40%;
  float: right;
  text-align: center;
  padding-top: 60px;
}

.footer-left ul li {
  display: inline;
  font-size: 12px;
  color: #bababa;
  font-family: "FuturaRegular", sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}

.footer-right ul li {
  display: inline;
  font-size: 12px;
  color: #bababa;
  font-family: "FuturaRegular", sans-serif;
}

/*****   BUILD TO RENT   *****/

.preview {
	width: 100%;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.row > .col {
  padding: 0 8px;
}

.col {
  float: left;
  width: 30%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  /* padding: 10px 62px 0px 62px; */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 0 0 0 0;
  width: 80%;
  max-width: 1200px;
}

.slide {
  display: none;

}

.image-slide {
	width: 100%;
}

.modal-preview {
	width: 100%;
}

.dots {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

img.preview, img.modal-preview {
  opacity: 0.6;
}

img.active,
.preview:hover,
.modal-preview:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.previous,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.previous:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


/*****   WHAT WE DO PAGE   *****/

.wrapper-left {
  width: 50%;
  float: left;
}

.wrapper-right {
  width: 50%;
  float: left;
}

.wrapper-link-right {
  padding-top: 30px;
  float: right;
  clear: both;
}

.wrapper-link-right a {
  text-decoration: none;
  color: #bababa;
  font-family: "FuturaRegular", sans-serif;
  font-weight: 800;
  font-size: 22px;
  line-height: 1.8;
}

.subtitle {
  font-family: "FuturaBold", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.375;
  padding-top: 10px;
}

.our-team-title {
  font-family: "FuturaBold", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.375;
  padding-top: 10px;
}

.wrapper-left p {
  padding-right: 30px;
}

.wrapper-right p {
  padding-right: 30px;
}

/*****   SERVICES PAGE   *****/

.services-list-area ul li {
  display: inline;

  padding-right: 5px;
  width: 150px;
}

li.service {
  width: 150px;
}

.services-list-area img {
  width: 90%;
  border: 1px solid black;
}

.wrapper-services {
  max-width: 900px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

.service {
  float: left;
  width: 60px;
  height: 100px;
}

.service-title-box {
  width: 6%;
}

.service-title {
  font-family: "FuturaRegular", sans-serif;
  font-weight: 100;
  font-size: 9px;
  line-height: 1.1;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.price-list-wrapper {
  padding-top: 30px;
  clear: both;
}

.price-box {
  width: 31.3333%;
  float: left;
  padding-right: 1%;
  padding-left: 1%;
}

.table-top {
  border-bottom: 2px solid #bababa;
}

.price-table {
  margin-top: 30px;
  border-top: 2px solid black;
}

.price-table td {
  padding: 10px 30px 10px 0px;
  font-family: "FuturaRegular", sans-serif;
  font-weight: 100;
  line-height: 1.375;
  font-size: 12px;
}

.grey-back {
  background-color: #4d4d4d;
  color: #fff;
}

.grey-back p {
  font-size: 11px;
  padding-left: 14px;
}

.special-services-wrapper {
  padding-top: 50px;
  clear: both;
}

.special-services td {
  vertical-align: middle;
}

.special-services-img {
  width: 15%;
}

.special-services img {
  width: 100%;
}

.special-services tr {
  height: 140px;
}

.special-services .lime {
  font-family: "FuturaBold", sans-serif;
  color: #a5d614;
  font-size: 20px;
  padding-bottom: 10px;
}

.special-services .blue {
  font-family: "FuturaBold", sans-serif;
  color: #11007c;
  font-size: 20px;
  padding-bottom: 10px;
}

.special-services .red {
  font-family: "FuturaBold", sans-serif;
  color: red;
  font-size: 20px;
  padding-bottom: 10px;
}

.special-services .purple {
  font-family: "FuturaBold", sans-serif;
  color: purple;
  font-size: 20px;
  padding-bottom: 10px;
}

.special-services .green {
  font-family: "FuturaBold", sans-serif;
  color: green;
  font-size: 20px;
  padding-bottom: 10px;
}

/*****   GALLERY PAGE   *****/

.wrapper-gallery {
  max-width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
}

.gallery-main-box {
  clear: both;
}

.row-two {
  padding-top: 40px;
}

.gallery-box-left {
  width: 25%;
  float: left;
  padding-top: 15px;
}

.gallery-box-right {
  width: 25%;
  float: left;
}

.gallery-box-left img {
  width: 100%;
}

.gallery-box-right img {
  width: 100%;
}

.gallery-title {
  font-family: "FuturaRegular", sans-serif;
  font-weight: 100;
  font-size: 14px;
  line-height: 1.1;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.gallery-title-right {
  font-family: "FuturaRegular", sans-serif;
  font-weight: 100;
  font-size: 14px;
  line-height: 1.1;
  float: right;
}

/*****   CLIENTS PAGE   *****/

.clients {
  float: left;
  width: 25%;
}

.charities {
  padding-top: 50px;
}

.cbre img {
  width: 100px;
}

.kf img {
  width: 100px;
}

.kfh img {
  width: 100px;
}

.finchatton img {
  width: 100px;
}

.hamptons img {
  width: 100px;
}

.getliving img {
  width: 100px;
}

.shaftesbury img {
  width: 100px;
}

.savills img {
  width: 100px;
}

.rentify img {
  width: 100px;
}

.east-london img {
  width: 100px;
}

.plasticoceans img {
  width: 130px;
}

.mdd img {
  width: 130px;
}

.centrepoint img {
  width: 130px;
}

/*****   TESTIMONIALS PAGE   *****/

.quote {
  font-family: "FuturaBold", sans-serif;
  font-size: 18px;
  line-height: 1.375;
  padding-top: 20px;
}

/*****   CONTACT US PAGE   *****/

.centre-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

form input {
  height: 30px;
  background-color: #f1f2f3;
  border: 1px solid #bababa;
  margin-bottom: 15px;
  padding-left: 5px;
  font-family: "FuturaRegular", sans-serif;
  font-size: 13px;
}

.row {
  margin-top: 20px;
}

.phone {
  text-decoration: none;
  color: black;
  font-family: "FuturaBlack", sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
}

.left {
  float: left;
  width: 47%;
}

.right {
  float: right;
  width: 47%;
}

.message {
  clear: both;
}

.message textarea {
  width: 99% !important;
  font-family: "FuturaRegular", sans-serif;
  font-size: 13px;
  height: 70px;
  background-color: #f1f2f3;
  border: 1px solid #bababa;
  padding-left: 5px;
}

.submit-link-right {
  float: right;
  border: none;
  text-decoration: none;
  color: #bababa;
  font-family: "FuturaRegular", sans-serif;
  font-weight: 800;
  font-size: 22px;
  line-height: 1.8;
  clear: both;
  height: 40px;
  background-color: white;
  margin-top: 20px;
}

.our-team {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
}

.our-team-member {
  width: 300px;
  padding-bottom: 15px;
}

.job-title {
  text-transform: uppercase;
}

/*****   OVERLAY MENU FOR MOBILE   *****/

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 0;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 10000; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0); /* Black fallback color */
  background-color: rgba(0, 0, 0, 1); /* Black w/opacity */
  overflow-y: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
  font-family: "FuturaRegular", sans-serif;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/********************
        MOBILE
*********************/

/*****   HEADER AND MENU   *****/

@media only screen and (max-width: 768px) {
  header {
    height: 130px;
  }

  .logo {
    width: 50%;
    float: left;
  }

  .logo img {
    width: 100%;
    padding-top: 10px;
  }

  .menu {
    display: none;
  }

  .mobilenav {
    display: block;
    float: right;
    margin-right: 50px;
    margin-top: 30px;
  }

  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }

  /*****   MAIN BODY   *****/

  .wrapper {
    width: 75%;
  }

  .wrapper-home {
    width: 75%;
  }

  .left-home {
    float: none;
    width: 100%;
  }

  .right-home {
    float: none;
    width: 100%;
  }

  .right-home img {
    width: 50%;
    display: block;
    margin: 20px auto;
  }

  .page-title {
    font-family: "FuturaBold", sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.2;

    clear: both;
  }

  .subtitle {
    font-family: "FuturaBold", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.375;
    padding-top: 20px;
  }

  .paragraph {
    font-family: "FuturaRegular", sans-serif;
    font-weight: 100;
    font-size: 18px;
    line-height: 1.375;
    clear: both;
  }

  .wrapper-link {
    padding-top: 30px;
    clear: both;
  }

  /*****   FOOTER   *****/

  footer {
    width: 90%;
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    clear: both;
  }

  .footer-left {
    width: 100%;
    float: none;
    text-align: left;
    padding-top: 10px;
    line-height: 1.375;
  }

  .footer-right {
    width: 100%;
    float: none;
    text-align: left;
    padding-top: 10px;
  }

  .footer-left ul li {
    display: block;
    font-size: 11px;
    color: #bababa;
    font-family: "FuturaRegular", sans-serif;
    padding-left: 25px;
  }

  .footer-right ul li {
    display: block;
    font-size: 12px;
    color: #bababa;
    font-family: "FuturaRegular", sans-serif;
    padding-left: 25px;
  }

  /*****   WHAT WE DO PAGE   *****/

  .wrapper-left {
    width: 100%;
    float: none;
  }

  .wrapper-right {
    width: 100%;
    float: none;
  }

  /*****   SERVICES PAGE   *****/

  .wrapper-services {
    width: 75%;
  }

  .price-box {
    width: 100%;
    float: none;
    padding-right: 1%;
    padding-left: 1%;
  }

  .price-table td {
    width: 60%;
  }

  .special-services-img {
    width: 20%;
    padding-right: 10px;
  }

  .special-services td {
    padding-top: 25px;
    vertical-align: top;
  }

  /*****   GALLERY PAGE   *****/

  .wrapper-gallery {
    width: 75%;
  }

  .gallery-box-left {
    width: 100%;
  }

  .gallery-box-right {
    width: 100%;
    padding-top: 15px;
  }

  /*****   CLIENTS PAGE   *****/

  .wrapper-clients {
    display: none;
  }

  .wrapper-clients-mobile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    width: 75%;
  }

  .wrapper-charities {
    width: 75%;
  }

  .clients {
    float: left;
    width: 50%;
    padding-top: 15px;
  }

  .charities {
    padding-top: 50px;
  }

  .centrepoint {
    padding-top: 15px;
    clear: both;
  }

  /*****   CONTACT PAGE   *****/

  .centre-wrapper {
    width: 100%;
  }

  .row {
    margin-top: 0px;
  }

  .left {
    width: 100%;
    float: none;
  }

  .right {
    width: 100%;
    float: none;
  }
}
